.root {
    background-color: #f0f0f0;
    -fx-background-color: #f0f0f0; /* JavaFX */
}

.login-panel {
    background-color: linear-gradient(to bottom, #7F7FD5, #86A8E7, #91EAE4);
    -fx-background-color: linear-gradient(to bottom, #7F7FD5, #86A8E7, #91EAE4); /* JavaFX */
}

.title-label {
    font-size: 20px;
    font-weight: bold;
    color: purple;
    -fx-font-size: 20px; /* JavaFX */
    -fx-font-weight: bold; /* JavaFX */
    -fx-text-fill: purple; /* JavaFX */
}

.label {
    color: black;
    -fx-text-fill: black; /* JavaFX */
}

.button {
    background-color: #4CAF50;
    color: black;
    font-weight: bold;
    -fx-background-color: #4CAF50; /* JavaFX */
    -fx-text-fill: black; /* JavaFX */
    -fx-font-weight: bold; /* JavaFX */
}

.table-view {
    background-color: white;
    -fx-background-color: white; /* JavaFX */
}
